.boot-screen {
  height: 100vh;
  background: black;
  color: #00ff88;
  font-family: "Courier New", monospace;
  font-size: 18px;

  padding: 20px; /* spacing from edges */
  text-align: left; /* left aligned */
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
